@page "/"
@using Chevo.RPG.WebApp.ViewModel.Interfaces
@using Chevo.RPG.WebApp.ViewModel.Level
@using Microsoft.JSInterop;
@using System.Threading.Tasks;
@using Chevo.RPG.WebApp.Core.Interfaces.Instance
@inject BrowserService browserService;

@if (CurrentLevel != null)
{
    <div style="
    background: black;
    width: @(CurrentLevel.LevelWidth)px;
    height: @(CurrentLevel.LevelHeight)px;
    position: absolute;
    left: @(CurrentLevel.ViewPort.Position.X)px;
    top: @(CurrentLevel.ViewPort.Position.Y)px;">
    
        @foreach (IInstance levelObject in CurrentLevel.LevelObjects)
        {
            <img src="/resources/images/actors/sceleton/SceletonMovesLeft.gif" style="
            width: @(levelObject.Actor.Stats.Size)px;
            height: @(levelObject.Actor.Stats.Size)px;
            position: absolute;
            left: @(levelObject.Actor.Position.X)px;
            top: @(levelObject.Actor.Position.Y)px;">
        }

    </div>
}

@code {
    
    public class BrowserService
    {
        private readonly IJSRuntime _js;

        public BrowserService(IJSRuntime js)
        {
            _js = js;
        }

        public async Task<BrowserDimension> GetDimensionsAsync()
        {
            return await _js.InvokeAsync<BrowserDimension>("getDimensions");
        }
        
        public BrowserDimension GetDimensions()
        {
            return new BrowserDimension() {Height = 1, Width = -1};
        }
    }
    
    public class BrowserDimension
    {
        public int Width { get; set; }
        public int Height { get; set; }
    }

    public ILevel CurrentLevel { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        BrowserDimension dimension = await browserService.GetDimensionsAsync();
        Console.WriteLine($"Width: {dimension.Width}; Height: {dimension.Height}");        
        CurrentLevel = new Sanctuary((int) dimension.Width, (int) dimension.Height);
    }

}